
<h2>Patient Appointment Details</h2>

<div class="example-container mat-elevation-z8">
  <mat-form-field style="margin-left: 15px" >
    <input matInput (keyup)="applyFilter($event)" placeholder="Search Here">
  </mat-form-field>
  <div class="spinner-container">
  </div>

  <mat-table #table [dataSource]="dataSource1" style="margin-left: 15px"  >

    <ng-container matColumnDef="id"  [style.display]="'none'">
      <mat-header-cell *matHeaderCellDef [style.display]="'none'" mat-sort-headerstyle="font-size: medium;" style="font-size: medium;"> Id
      </mat-header-cell>
      <mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Second Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;" style="font-size: medium;"> Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Third Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Gender </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.gender}}
      </mat-cell>
    </ng-container>

    <!-- Fourth Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Mobile </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Age </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="bloodGroup">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> BloodGroup </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bloodGroup}} </mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="temparature">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Temparature </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.temparature}} </mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="bloodPresure">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> BloodPresure </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bloodPresure}} </mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="sugarLevel">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> SugarLevel </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sugarLevel}} </mat-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Edit </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
          color="primary" (click)="startEdit(element)">
          <mat-icon>edit</mat-icon>
        </button> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Cancel Appointment
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
          color="warn" (click)="onDelete(element.id)">
          <mat-icon> cancel </mat-icon>
        </button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>



</div>