<div class="container">
    <form class="mat-dialog-content" #formControl="ngForm">
  
        <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="this.data.data.userID"   name="id" required >
              
            </mat-form-field>
            &nbsp; &nbsp; &nbsp;
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="this.data.data.name" name="name" required >             
              </mat-form-field>
          </div>
          
          <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Gender" [(ngModel)]="this.data.data.gender" name="gender" required >             
            </mat-form-field>
            &nbsp; &nbsp; &nbsp;
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Address" [(ngModel)]="this.data.data.address" name="address">             
              </mat-form-field>
          </div>
          <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Age" [(ngModel)]="this.data.data.age" name="age" required >             
              </mat-form-field>
              &nbsp; &nbsp; &nbsp;
              <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="BloodGroup" [(ngModel)]="this.data.data.bloodGroup"  name="bloodgroup" required >             
                </mat-form-field>
          </div>
          <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Temparature" [(ngModel)]="this.data.data.temparature"  name="temparature" required >             
              </mat-form-field>
              &nbsp; &nbsp; &nbsp;
              <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="SugarLevel" [(ngModel)]="this.data.data.sugarLevel" name="sugarlevel" required >             
                </mat-form-field>
          </div>
          <div mat-dialog-actions>
            <button mat-button [disabled]="!formControl.valid" [mat-dialog-close]="1">Save</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
          
    </form>
  </div>
  
