<div class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Physician DashBoard</h1>
            </div>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-gradient-info">
                <div class="inner">
                  <h3>{{ Patient }}</h3>

                  <p>Patients</p>
                </div>
                <div class="icon">
                  <i class="fa-calendar-alt"></i>
                </div>
                <a href="#" class="small-box-footer text-black bg-white"><b>More info </b><i
                    class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-gradient-danger">
                <div class="inner">
                  <h3>$50000</h3>

                  <p>Income</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer text-black bg-white"><b>More info </b><i
                    class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-gradient-success">
                <div class="inner">
                  <h3>44</h3>

                  <p>Appoinment</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer text-black bg-white"><b>More info </b><i
                    class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3 class="text-white">65</h3>

                  <p class="text-white">Treatments</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer text-black bg-white"><b>More info </b><i
                    class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>

          <div class="row">

            <section class="row w-100 connectedSortable">
              <div class="col-6">
                <div class="card-header">
                  <h3 class="card-title font-weight-bold">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Today Appoinment
                  </h3>
                  <div class=" ">
                    <!-- <button
                      mat-button
                      mat-flat-button
                      color="primary"
                      class="btn bg-info"
                      style="color: white; float: right; background-color: grey"
                    >
                      Add New
                    </button> -->

                    <table mat-table [dataSource]="dataSource1" #mytable class="my-table mat-elevation-z8">


                      <ng-container matColumnDef="appointmentType">
                        <th mat-header-cell *matHeaderCellDef style="padding-left: 10px">
                          AppointmentType
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.appointmentType }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="diagnosis">
                        <th mat-header-cell *matHeaderCellDef style="padding-left: 15px">
                          Diagnosis
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.diagnosis }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="isCompleted">
                        <th mat-header-cell *matHeaderCellDef style="padding-left: 10px">
                          IsCompleted
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.isCompleted }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="appointmentDateTime">
                        <th mat-header-cell *matHeaderCellDef style="padding-left: 15px">
                          AppointmentDateTime
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.appointmentDateTime }}
                        </td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="modifiedDate">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          style="padding-left: 10px"
                        >
                        ModifiedDate
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.modifiedDate}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="deletedBy">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          style="padding-left: 15px"
                        >
                        DeletedBy
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.deletedBy }}
                        </td>
                      </ng-container> <ng-container matColumnDef="deletedDate">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          style="padding-left: 10px"
                        >
                        DeletedDate
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.deletedDate }}
                        </td>
                      </ng-container> -->

                      <ng-container matColumnDef="patientId" [style.display]="'none'">

                        <th [style.display]="'none'" mat-header-cell *matHeaderCellDef style="padding-left: 15px">
                          patientId
                        </th>
                        <td [style.display]="'none'" mat-cell *matCellDef="let element">
                          {{ element.patientId }}
                        </td>

                      </ng-container>

                      <ng-container matColumnDef="nurseId" [style.display]="'none'">

                        <th [style.display]="'none'" mat-header-cell *matHeaderCellDef style="padding-left: 15px">
                          nurseId
                        </th>
                        <td [style.display]="'none'" mat-cell *matCellDef="let element">
                          {{ element.nurseId }}
                        </td>

                      </ng-container>
                      <ng-container matColumnDef="id" [style.display]="'none'">

                        <th [style.display]="'none'" mat-header-cell *matHeaderCellDef style="padding-left: 15px">
                          nurseId
                        </th>
                        <td [style.display]="'none'" mat-cell *matCellDef="let element">
                          {{ element.id }}
                        </td>

                      </ng-container>
                      <ng-container matColumnDef="physicianId" >

                        <th [style.display]="'none'" mat-header-cell *matHeaderCellDef style="padding-left: 15px">
                          physicianId
                        </th>
                        <td [style.display]="'none'" mat-cell *matCellDef="let element">
                          {{ element.physicianId }}
                        </td>

                      </ng-container>

                      <ng-container matColumnDef="appointmentStatus">
                        <th mat-header-cell *matHeaderCellDef style="padding-left: 15px">
                          AppointmentStatus
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.appointmentStatus }}
                        </td>
                      </ng-container>
                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                          Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                        
                          <a
                          mat-button
                          class="companyName"
                          [routerLink]="['CurrentPatient']"
                          routerLinkActive="router-link-active" (click)="setTitle('CurrentPatient')"
                        >
                        Currentpatient
                        </a> 
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsappoinment"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsappoinment"></tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class=" col-6 card bg-light">

                <form [formGroup]="form">
                  <span class="row">
                    <h5 class="  pl-3 col-4 mt-2">
          
                      Attendence Date
                    </h5>
                    <h5 class="pl-2 col-4 mt-2">Not AVailable Slots</h5>
                  </span>
                  <div class="card-tools row ">
                    <span class="col-4">
                      <input placeholder="Today Date" formControlName='date' type="date">
                    </span>
                    <span class="col-4" style="display: none;">
                      <mat-label></mat-label>
                      <input placeholder="Today Date" formControlName='physicianid' type="date">
                    </span>
                    <span class="col-4">

                      <mat-form-field class="p-0 m-0">
                        <mat-select placeholder="Select Not Availableslot" formControlName="timeSlot"  multiple>
                            <mat-option *ngFor="let list of SlotList" [value]="list">{{list}}</mat-option>
                        </mat-select>
                       </mat-form-field>
                    </span>
                    <span class="col-2">
          
                      <mat-label>IsAbsent </mat-label>
                      <input  formControlName='isAbsent' type="checkbox">
          
                    </span>
                  </div>
          
                    <button type="submit" class="btn btn-success mb-1 ml-1 mt-2" (click)="AddPhysiciandetails(0)">Submit</button>
                </form>
          
              </div>
              <!--             
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i>
                    <b>Appoinment Request</b>
                  </h3>

                  <div class="container text-center">
                    <button
                      mat-button
                      mat-flat-button
                      color="primary"
                      class="btn bg-info"
                      style="color: white; float: right; background-color: grey"
                    >
                      Add New
                    </button>

                    <table
                      mat-table
                      [dataSource]="dataSource2"
                      #mytable
                      class="my-table mat-elevation-z8"
                    >
                     
                      <ng-container matColumnDef="id">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          style="padding-left: 10px"
                        >
                          ID.
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.id }}
                        </td>
                      </ng-container>

                     
                      <ng-container matColumnDef="name">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          style="padding-left: 10px"
                        >
                          Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.name }}
                        </td>
                      </ng-container>

                     
                      <ng-container matColumnDef="action">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          style="padding-left: 50px"
                        >
                          Action
                        </th>
                        <td
                          mat-cell
                          *matCellDef="let element"
                          class="action-link"
                        >
                          <a class="bg-gradient-success btn">Accept</a> |
                          <a class="bg-gradient-danger btn">Reject</a>
                        </td>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns2"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns2"
                      ></tr>
                    </table>
                  </div>
                </div>
             
              </div> -->

            </section>

            <!-- <section class="col-lg-5 connectedSortable">
            
              <div class="card bg-white">
                <div class="card-header">
                  <h3 class="card-title">
                    <b>Next Patient Details</b>

                  
                  </h3>
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-elevation-z8"
                  >
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>Name</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.name }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="calories">
                      <th mat-header-cell *matHeaderCellDef>Calories</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.calories }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="fat">
                      <th mat-header-cell *matHeaderCellDef>Fat (g)</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.fat }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="carbs">
                      <th mat-header-cell *matHeaderCellDef>Carbs (g)</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.carbs }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="protein">
                      <th mat-header-cell *matHeaderCellDef>Protein (g)</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.protein }}
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>
                
                </div>

              
                <div class="card-footer bg-transparent">
                  <div class="row">
                    <div class="col-4 text-center">
                      <div id="sparkline-1"></div>
                      <button class="text-white bg-primary btn">
                        Phone Number
                      </button>
                    </div>
                  
                    <div class="col-4 text-center">
                      <div id="sparkline-2"></div>
                      <button class="text-white bg-primary btn">
                        Document
                      </button>
                    </div>
                   
                    <div class="col-4 text-center">
                      <div id="sparkline-3"></div>
                      <button class="text-white bg-primary btn">Chat</button>
                    </div>
                  </div>
              
                </div>
              </div>
             
            
           
            </section> -->

          </div>
        </div>

      </section>

    </div>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>

   

  </div>

</div>