
<div class="example-container mat-elevation-z8" class="table-content" style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden;">
   <!-- <div>
    <label style="font: medium; padding-left: 10px;">Departments:</label>
    &nbsp;
    <select (change)="onSelect($event)" style="width: auto;">
      <option value="0">Select  Available Dactor</option>
      <option *ngFor="let doctor of doctorlist" value= {{doctor.id}} style="border-radius: 2%;">{{doctor.isAbsent}} </option>
    </select>
   </div>
   <div> -->
   
    <mat-table #table [dataSource]="dataSource1" style="margin-left: 15px ;width:100%"  >
  
      <ng-container matColumnDef="id"  [style.display]="'none'">
        <mat-header-cell *matHeaderCellDef [style.display]="'none'" mat-sort-headerstyle="font-size: medium;" style="font-size: medium;"> Id
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [style.display]="'none'" matTooltip="id"> {{element.id}} </mat-cell>
      </ng-container>
  
      <!-- Second Column -->
      <ng-container matColumnDef="physicianId" [style.display]="'none'">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;" [style.display]="'none'"> PhysicianId
        </mat-header-cell>
        <!-- matTooltip={{element.userName}} -->
        <mat-cell *matCellDef="let element"  [style.display]="'none'"><span class="ellipsis">{{element.physicianId}}</span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="timeSlot">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Not Available Slots
        </mat-header-cell>
        <mat-cell *matCellDef="let element" matTooltip="{{element.timeSlot}}"> {{element.timeSlot}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element" matTooltip="{{element.dateTime}}"> {{element.dateTime}} </mat-cell>
      </ng-container>
      <!-- Third Column -->
      <ng-container matColumnDef="isAbsent">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Status </mat-header-cell>
        <mat-cell  *matCellDef="let element">{{element.isAbsent ? 'Absent' : 'Present'}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  
  
  
  </div>